<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="2 1 0.4" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="2 1 0.4" />
            </geometry>
        </collision>
    </link>

    <joint name="Torso_Backleg" type="revolute">
       <parent link="Torso"/>
       <child  link="Backleg"/>
       <origin rpy="0 0 0" xyz="0.8 -0.5 0.4" />
     <axis xyz="0 1 0"/>
       <limit effort="500" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>

    <link name="Backleg">
        <contact>
            <rolling_friction value="0.01"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 -0.249999 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 -0.249999 0"/>
            <geometry>
				        <mesh filename="textured_sphere_smooth.obj" scale="0.25 0.25 0.25"/>      
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 -0.249999 0"/>
            <geometry>
	            <sphere radius="0.25"/>
            </geometry>
        </collision>
    </link>

    <joint name="Torso_Frontleg" type="revolute">
       <parent link="Torso"/>
       <child  link="Frontleg"/>
       <origin rpy="0 0 0" xyz="0.8 0.5 0.4" />
     <axis xyz="0 1 0"/>
       <limit effort="500" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>

    <link name="Frontleg">
        <contact>
            <rolling_friction value="0.01"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0.249999 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0.249999 0"/>
            <geometry>
				        <mesh filename="textured_sphere_smooth.obj" scale="0.25 0.25 0.25"/>      
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0.249999 0"/>
            <geometry>
	            <sphere radius="0.25"/>
            </geometry>
        </collision>
    </link>

    <joint name="Torso_Rightleg" type="revolute">
       <parent link="Torso"/>
       <child  link="Rightleg"/>
       <origin rpy="0 0 0" xyz="-0.8 -0.5 0.4" />
     <axis xyz="0 1 0"/>
       <limit effort="500" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>

    <link name="Rightleg">
        <contact>
            <rolling_friction value="0.01"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 -0.249999 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 -0.249999 0"/>
            <geometry>
				        <mesh filename="textured_sphere_smooth.obj" scale="0.25 0.25 0.25"/>      
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 -0.249999 0"/>
            <geometry>
	            <sphere radius="0.25"/>
            </geometry>
        </collision>
    </link>

    <joint name="Torso_Leftleg" type="revolute">
       <parent link="Torso"/>
       <child  link="Leftleg"/>
       <origin rpy="0 0 0" xyz="-0.8 0.5 0.4" />
     <axis xyz="0 1 0"/>
       <limit effort="500" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>

    <link name="Leftleg">
        <contact>
            <rolling_friction value="0.01"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0.249999 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0.249999 0"/>
            <geometry>
				        <mesh filename="textured_sphere_smooth.obj" scale="0.25 0.25 0.25"/>      
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0.249999 0"/>
            <geometry>
	            <sphere radius="0.25"/>
            </geometry>
        </collision>
    </link>
</robot>